@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">View Magical Items and Artifacts</h1>
    <h2>Coming soon!</h2>
    <p>Use this page to view, create, edit and delete listings of various magical items.</p>
</div>
