@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">View Magical Items and Artifacts</h1>
    <p>Use this site to view, create, edit and delete listings of various magical items.</p>
    <a class="nav-link" asp-area="" asp-page="/MagicItems/Index">Visit the library</a>
</div>
