@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Book Your Appointment Now</h1>
    <h2>Coming soon!</h2>
    <p>You can use this service to schedule, view, or amend your booking.</p>
</div>
