@page
@model razor_page_app.Pages_MagicItems.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MagicItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MagicItem.ID" />
            <div class="form-group">
                <label asp-for="MagicItem.Name" class="control-label"></label>
                <input asp-for="MagicItem.Name" class="form-control" />
                <span asp-validation-for="MagicItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MagicItem.Rarity" class="control-label"></label>
                <input asp-for="MagicItem.Rarity" class="form-control" />
                <span asp-validation-for="MagicItem.Rarity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MagicItem.Type" class="control-label"></label>
                <input asp-for="MagicItem.Type" class="form-control" />
                <span asp-validation-for="MagicItem.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MagicItem.Description" class="control-label"></label>
                <input asp-for="MagicItem.Description" class="form-control" />
                <span asp-validation-for="MagicItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MagicItem.Cost" class="control-label"></label>
                <input asp-for="MagicItem.Cost" class="form-control" />
                <span asp-validation-for="MagicItem.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
